--- --- :root {
  --primary-color: hsl(0, 0%, 98%);
  --secondary-color: hsl(0, 0%, 8%);
  --tertiary-color: hsl(0, 0%, 41%);
}

* {
  list-style-type: none;
  text-decoration: none;
  font-family: Epilogue, sans-serif;
}

body {
  background: var(--primary-color);
  margin: 0;
}

.sub-menu-1 {
  display: none;
}

.sub-menu-2 {
  display: none;
}

.header-container {
  background-size: cover;
  width: 100%;
  margin-top: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 5rem;
  margin-left: 1.5rem;
  margin-top: 1rem;
}

.toggle-menu-btn {
  cursor: pointer;
  width: 32px;
  height: 25px;
  margin-right: 1rem;
  margin-top: 1rem;
}

nav {
  transform: translateX(100%);
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background: white;
  width: 60%;
  transition: transform 0.5s ease-in-out;
  z-index: 999;
  box-shadow: -1px 0px 5px 1px hsla(201deg, 13.82%, 70%, 0.52);
}
nav .toggle-close-btn {
  cursor: pointer;
  width: 32px;
  height: 32px;
  margin-right: 1rem;
  margin-top: 1.8rem;
  float: right;
}
nav .main-list {
  position: relative;
  top: 10%;
}
nav .main-list .features-list {
  padding-bottom: 1.5rem;
  display: block;
}
nav .main-list .features-list .features-btn {
  color: hsl(0deg, 0%, 41%);
  font-size: 18px;
  display: flex;
  cursor: pointer;
}
nav .main-list .features-list .features-btn .caret {
  position: relative;
  right: -10px;
}
nav .main-list .features-list .sub-menu-1 {
  margin-top: 1rem;
}
nav .main-list .features-list .sub-menu-1 li {
  position: relative;
  right: 10%;
  padding: 0.5rem 0.75rem;
  font-size: 18px;
}
nav .main-list .features-list .sub-menu-1 li a {
  color: hsl(0deg, 0%, 41%);
}
nav .main-list .features-list .sub-menu-1 li:hover {
  font-weight: 700;
}
nav .main-list .features-list .sub-menu-1 img {
  width: 1.3rem;
  margin-right: 0.7rem;
  position: relative;
  top: 3px;
}
nav .main-list .company-list {
  padding-bottom: 1.5rem;
  display: block;
}
nav .main-list .company-list .company-btn {
  color: hsl(0deg, 0%, 41%);
  font-size: 18px;
  display: flex;
  cursor: pointer;
}
nav .main-list .company-list .company-btn .caret {
  position: relative;
  right: -10px;
}
nav .main-list .company-list .sub-menu-2 {
  margin-top: 1rem;
}
nav .main-list .company-list .sub-menu-2 li {
  position: relative;
  right: 10%;
  padding: 0.5rem 0.75rem;
  font-size: 18px;
}
nav .main-list .company-list .sub-menu-2 li a {
  color: hsl(0deg, 0%, 41%);
}
nav .main-list .company-list .sub-menu-2 li:hover {
  font-weight: 700;
}
nav .main-list .career {
  font-size: 18px;
  display: flex;
  cursor: pointer;
  padding-bottom: 1.5rem;
}
nav .main-list .career a {
  color: hsl(0deg, 0%, 41%);
}
nav .main-list .career:hover {
  font-weight: 700;
}
nav .main-list .about {
  font-size: 18px;
  display: flex;
  cursor: pointer;
  padding-bottom: 1.5rem;
}
nav .main-list .about a {
  color: hsl(0deg, 0%, 41%);
}
nav .main-list .about:hover {
  font-weight: 700;
}
nav .main-list .register {
  margin-left: 0;
  margin-top: 0.5rem;
  padding: 1rem 0;
}
nav .main-list .register .login {
  font-size: 18px;
  cursor: pointer;
  text-align: center;
}
nav .main-list .register .login a {
  color: hsl(0deg, 0%, 41%);
}
nav .main-list .register .login:hover {
  font-weight: 700;
}
nav .main-list .register button {
  display: block;
  margin-top: 1rem;
  border: 2.5px solid hsl(0deg, 0%, 41%);
  border-radius: 1rem;
  padding: 0.7rem 3rem;
  color: hsl(0deg, 0%, 41%);
  outline: none;
  background: transparent;
  font-size: 18px;
  transition: 0.3s;
  cursor: pointer;
}
nav .main-list .register button:hover {
  color: hsl(0deg, 0%, 98%);
  background: hsl(0deg, 0%, 41%);
  font-weight: 700;
}

.remote-img {
  margin-top: 1em;
  width: 100%;
}
.remote-img .mobile-img {
  width: 100%;
}
.remote-img .desktop-img {
  display: none;
}

.remote {
  width: 100%;
}
.remote h1 {
  font-size: 2.5rem;
  margin: 2rem 0 1rem 0;
  justify-content: center;
  text-align: center;
  color: hsl(0deg, 0%, 8%);
  font-weight: 700;
}
.remote p {
  line-gap-override: 0.5em;
  margin: auto 1rem;
  line-height: 1.5em;
  font-size: 18px;
  color: var(--tertiary-color);
  font-weight: 500;
  text-align: center;
}
.remote button {
  border: 1px solid hsl(0deg, 0%, 8%);
  position: relative;
  left: 50%;
  top: 15px;
  transform: translate(-50%);
  background-color: hsl(0deg, 0%, 8%);
  border-radius: 0.6rem;
  padding: 0.5rem 1rem;
  transition: 0.3s;
}
.remote button a {
  color: hsl(0deg, 0%, 98%);
  font-size: 18px;
  font-weight: 700;
}
.remote button:hover {
  background-color: hsl(0deg, 0%, 98%);
}
.remote button:hover a {
  color: hsl(0deg, 0%, 8%);
}

.sponsored-links {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
  gap: 0.5rem;
}

.show-nav {
  transform: translateX(0%);
}

.show-sub-menu {
  display: block;
  transition: 0.3s;
}

.caret-rotate .down {
  transform: rotate(180deg);
  transition: 0.3s;
}

.show-sub-menu-2 {
  display: block;
  transition: 0.3s;
}

.caret-rotate-2 .down {
  transform: rotate(180deg);
  transition: 0.3s;
}

.rotate-close .toggle-close-btn {
  transform: rotate(90deg);
  transition: 0.3s;
}

@media only screen and (min-width: 912px) {
  .toggle-menu-btn {
    display: none;
  }
  .remote-img .desktop-img {
    display: block;
    width: 100%;
    object-fit: contain;
    height: 100%;
    margin-top: 5rem;
  }
  .remote-img .mobile-img {
    display: none;
  }
  .toggle-close-btn {
    display: none;
  }
  nav {
    transform: translateX(0%);
    position: unset;
    background: none;
    display: block;
    width: 100%;
    height: auto;
    justify-content: space-between;
    padding: 0.5rem;
    box-shadow: unset;
  }
  nav .main-list {
    display: flex;
    margin-top: 0;
  }
  nav .main-list .features-list {
    position: relative;
  }
  nav .main-list .features-list .sub-menu-1 {
    transition: 0.3s;
    position: absolute;
    top: 60%;
    left: -80px;
    right: 0;
    width: 100%;
    z-index: 2;
    background: white;
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-shadow: -10px 5px 30px hsla(201deg, 13.82%, 70%, 0.52);
  }
  nav .main-list .features-list .sub-menu-1 li {
    width: 100%;
    padding: 0.3rem 0.1rem;
    position: unset;
  }
  nav .main-list .features-list .sub-menu-1 img {
    width: 1.1rem;
    margin-left: 0;
  }
  nav .main-list .company-list {
    position: relative;
  }
  nav .main-list .company-list .sub-menu-2 {
    transition: 0.3s;
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    width: 60%;
    z-index: 2;
    background: white;
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-shadow: -10px 5px 30px hsla(201deg, 13.82%, 70%, 0.52);
  }
  nav .main-list .company-list .sub-menu-2 li {
    width: 105%;
    padding: 0.3rem 0.1rem;
    position: unset;
  }
  nav .primary-nav {
    float: left;
    padding: 0;
    display: flex;
  }
  nav .primary-nav .features-btn {
    margin-right: 3rem;
  }
  nav .primary-nav .company-btn {
    margin-right: 3rem;
  }
  nav .primary-nav .career {
    margin-right: 3rem;
  }
  nav .primary-nav .about {
    margin-right: 3rem;
  }
  nav .register {
    position: absolute;
    right: 12rem;
    top: -9px;
    margin-top: 0;
  }
  nav .register .login a {
    position: relative;
    top: -15px;
  }
  nav .register button {
    display: flex;
    position: absolute;
    top: -30px;
    left: 50px;
    transform: translate(0%);
    margin-top: 0;
    margin-left: 0.5rem;
    border-radius: 1.8rem;
  }
  .remote-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "left right";
    padding: 1rem 5rem;
    gap: 2em;
  }
  .remote-grid .remote-img {
    grid-area: right;
  }
  .remote-grid .remote {
    position: relative;
    bottom: -9rem;
    height: 100%;
  }
  .remote-grid .remote h1 {
    font-size: 4rem;
    margin: 0 0 2.5rem 0;
    justify-content: start;
    text-align: left;
    min-width: 100%;
  }
  .remote-grid .remote h1 span {
    display: block;
  }
  .remote-grid .remote p {
    text-align: left;
    max-width: 65%;
    margin: 0;
    padding: 0;
  }
  .remote-grid .remote button {
    position: unset;
    transform: translate(0%);
    margin-bottom: 3.5rem;
    margin-top: 2.5rem;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
  }
  .remote-grid .remote button a {
    font-size: 1.7rem;
  }
}
@media only screen and (min-width: 1350px) {
  .remote-grid .remote-img .desktop-img {
    margin-top: 0;
  }
  .remote-grid .remote h1 {
    font-size: 6rem;
    margin: 0 0 5.5rem 0;
    justify-content: start;
    text-align: left;
    min-width: 100%;
  }
  .remote-grid .remote h1 span {
    display: block;
  }
  .remote-grid .remote p {
    text-align: left;
    max-width: 65%;
    margin: 0;
    padding: 0;
  }
  .remote-grid .remote button {
    position: unset;
    transform: translate(0%);
    margin-bottom: 6.5rem;
    margin-top: 4.5rem;
    padding: 1.5rem 2rem;
  }
  .remote-grid .remote button a {
    font-size: 1.7rem;
  }
}/*# sourceMappingURL=style.css.map */