:root {
    --primary-color: hsl(0, 0%, 98%);
    --secondary-color: hsl(0, 0%, 8%);
    --tertiary-color: hsl(0, 0%, 41%);
}

*{
    list-style-type: none;
    text-decoration: none;
    font-family: Epilogue, sans-serif;
}

body{
    background: var(--primary-color);
}

.sub-menu-1{
    opacity: 0;
    height: 0;
}

.sub-menu-2{
    opacity: 0;
    height: 0;
}

.header-container{
    margin-top: 1.5em;

    header{
        display: flex;
        justify-content: space-between;
        margin: auto .5em;
    }
}

nav{
    transform: translateX(100%);
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background: white;
    width: 60%;
    transition: transform .5s ease-in-out;

    .toggle-close-btn{
        float: right;
        margin: 1.7em 1.3em;
        cursor: pointer;
    }

    .features-list{
        min-width: 15em;
        position: relative;
        margin: 5rem auto auto 2rem;

        *{
            box-sizing: border-box;
        }

        .features-link{
            display: flex;
            cursor: pointer;
            transition: .3s;
            margin-top: 4em;

            .features-toggle{
                color: hsl(0, 0%, 41%);
                font-weight: 500;
                font-size: 1.2rem;
                display: block;
                padding-right: .5em;
            }
            
            .caret{
                position: relative;
                display: block;
                top: 4px;
                
                .down{
                    transition: .3s;
                }
            }
        }

        .sub-menu-1{
            list-style: none;
            font-weight: 500;
            font-size: 1.2rem;
            z-index: 1;
            transition: .3s;

            li{
                display: block;
                padding: .5em;
                margin-left: -1em;

                a{
                    color: hsl(0, 0%, 41%);
                    font-weight: 500;
    
                    img{
                        padding-right: .5em;
                        width: 1.8rem;
                    }

                    &:hover{
                        font-weight: 700;
                    }
                }
            }
        }
    }

    .company-list{
        min-width: 15em;
        position: relative;
        margin: -3rem auto auto 2rem;

        *{
            box-sizing: border-box;
        }

        .company-link{
            display: flex;
            cursor: pointer;
            transition: .3s;
            margin-top: 4em;

            .company-toggle{
                color: hsl(0, 0%, 41%);
                font-weight: 500;
                font-size: 1.2rem;
                display: block;
                padding-right: .5em;
            }
            
            .caret{
                position: relative;
                display: block;
                top: 4px;
                
                .down{
                    transition: .3s;
                }
            }
        }

        .sub-menu-2{
            list-style: none;
            font-weight: 500;
            font-size: 1.2rem;
            z-index: 1;
            transition: .3s;

            li{
                display: block;
                padding: .5em;
                margin-left: -1em;

                a{
                    color: hsl(0, 0%, 41%);
                    font-weight: 500;

                    &:hover{
                        font-weight: 700;
                    }
                }
            }
        }
    }

    .career{
        display: block;
        margin: 1.2rem auto auto 2rem;

        a{
            color: hsl(0, 0%, 41%);
            font-weight: 500;
            font-size: 1.2rem;

            &:hover{
                font-weight: 700;
            }
        }
    }

    .about{
        display: block;
        margin: 2.5rem auto auto 2rem;

        a{
            color: hsl(0, 0%, 41%);
            font-weight: 500;
            font-size: 1.2rem;

            &:hover{
                font-weight: 700;
            }
        }
    }

    .register{
        justify-content: center;
        text-align: center;

        .login-btn{
            display: block;
            margin-top: 2rem;

            a{
                color: hsl(0, 0%, 41%);
                font-weight: 500;
                font-size: 1.2rem;

                &:hover{
                    font-weight: 700;
                }
            }
        }

        .register-btn{
            border: 3px solid hsl(0, 0%, 41%);
            border-radius: .7em;
            background: transparent;
            color: hsl(0, 0%, 41%);
            font-size: 1.2rem;
            padding: .5rem 6rem;
            margin-top: 1rem;
            outline: none;

            &:hover{
                color: white;
                background: hsl(0, 0%, 41%);
                transition: .3s;
            }
        }
    }
}

.toggle-menu-btn{
    cursor: pointer;
    width: 2rem;
    margin-bottom: 1rem;
}

.remote-img{
    margin-top: 1em;
    width: 100%;

    .mobile-img{
        width: 100%;
    }

    .desktop-img{
        display: none;
    }
}

.remote{
    width: 100%;

    h1{
        font-size: 2.5rem;
        margin: 2rem 0 1rem 0;
        justify-content: center;
        text-align: center;
        color: hsl(0, 0%, 8%);
        font-weight: 700;
    }

    p{
        line-gap-override: .5em;
        margin: auto 1rem;
        line-height: 1.5em;
        font-size: 18px;
        color: var(--tertiary-color);
        font-weight: 500;
        text-align: center;
    }

    button{
        border: 1px solid hsl(0, 0%, 8%);
        position: relative;
        left: 50%;
        top: 15px;
        transform: translate(-50%);
        background-color: hsl(0, 0%, 8%);
        border-radius: .6rem;
        padding: .5rem 1rem;
        transition: .3s;
        
        a{
            color: hsl(0, 0%, 98%);
            font-size: 18px;
            font-weight: 700;
        }

        &:hover{
            background-color:hsl(0, 0%, 98%);
             a{
                color: hsl(0, 0%, 8%);
             }
        }
    }
}

.sponsored-links{
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: .5rem;
    gap: .5rem;
}

.show-nav{
    transform: translateX(0%);
}

.show-sub-menu{
    opacity: 1;
    height: auto;
    transition: .3s;
}

.caret-rotate{
    .down{
        transform: rotate(180deg);
        transition: .3s;
    }
}

.show-sub-menu-2{
    opacity: 1;
    height: auto;
    transition: .3s;
}

.caret-rotate-2{
    .down{
        transform: rotate(180deg);
        transition: .3s;
    }
}

.rotate-close{
    .toggle-close-btn{
        transform: rotate(90deg);
        transition: .3s;
    }
}

@media  only screen and (min-width: 912px) {
    .toggle-menu-btn{
        display: none;
    }

    nav{
        transform: translateX(0);
        position: unset;
        display: block;
        width: auto;
        height: 0;
        background: none;

        .toggle-close-btn{
            display: none;
        }

        .all-list{
            display: flex;

            .features-list{
                position: relative;
                top: -9rem;
                left: -2rem;
            }

            .company-list{
                position: relative;
                top: -1rem;
                left: -10.5rem;
            }

            .career{
                position: relative;
                top: -1.2rem;
                left: -18.5rem;
            }
            .about{
                position: relative;
                top: -2.5rem;
                left: -17rem;
            }
        }
    }

    .remote-img{
        .mobile-img{
            display: none;
        }

        .desktop-img{
            display: block;
            width: 100%;
        }
    }
}